body {
    font-family: 'Arial', sans-serif;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: lightcyan;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, button {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #1221f2;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#output {
    color: #333;
    font-weight: bold;
}
